[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
async-generator = "*"
attrs = "*"
backcall = "*"
bleach = "*"
brotlipy = "==0.7.0"
certifi = "==2020.6.20"
chatbot = "==1.5.2b0"
chatterbot = "==1.0.4"
chatterbot-corpus = "==1.2.0"
conda = "==4.10.1"
decorator = "*"
defusedxml = "*"
distlib = "==0.3.1"
entrypoints = "*"
filelock = "==3.0.12"
flask = "==1.1.2"
idna = "*"
importlib-metadata = "*"
jinja2 = "*"
joblib = "*"
mathparse = "==0.1.2"
matplotlib-inline = "*"
mistune = "*"
nbclient = "*"
nbconvert = "*"
nest-asyncio = "*"
nltk = "*"
notebook = "*"
pandocfilters = "==1.4.2"
parso = "*"
pexpect = "*"
pickleshare = "*"
pint = "==0.17"
prometheus-client = "*"
prompt-toolkit = "*"
ptyprocess = "*"
pycosat = "*"
pycparser = "*"
pymongo = "==3.11.3"
pyopenssl = "*"
pyparsing = "*"
pyrsistent = "*"
python-dateutil = "==2.7.5"
pyyaml = "==3.13"
requests = "*"
send2trash = "*"
six = "*"
testpath = "*"
tornado = "*"
tqdm = "*"
traitlets = "*"
urllib3 = "*"
virtualenv = "==20.4.4"
wcwidth = "*"
webencodings = "==0.5.1"
zipp = "*"
Pygments = "*"
PySocks = "*"
SQLAlchemy = "==1.2.19"
Werkzeug = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.8"
