
async-generator 
attrs 
backcall 
bleach 
brotlipy==0.7.0
Click==7.0

gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1


certifi==2020.6.20
chatbot==1.5.2b0
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
conda==4.10.1
decorator
defusedxml 
distlib==0.3.1
entrypoints
filelock==3.0.12
Flask==1.1.2
idna 
importlib-metadata
Jinja2
joblib 

mathparse==0.1.2
matplotlib-inline 
mistune
nbclient 
nbconvert 
nest-asyncio 
nltk 
notebook
packaging 
pandocfilters==1.4.2
parso 
pexpect 
pickleshare 
Pint==0.17
prometheus-client 
prompt-toolkit 
ptyprocess 
pycosat 
pycparser 
Pygments 
pymongo==3.11.3
pyOpenSSL 
pyparsing
pyrsistent 
PySocks
python-dateutil==2.7.5
PyYAML==3.13
requests 
Send2Trash 
six
SQLAlchemy==1.2.19
testpath 
tornado 
tqdm 
traitlets 
urllib3 
virtualenv==20.4.4
wcwidth 
webencodings==0.5.1
Werkzeug==1.0.1
zipp 
