absl-py 
aiohttp 
anaconda-client


appdirs==1.4.4
applaunchservices==0.2.1
appnope 
appscript
argh==0.26.2
argon2-cffi
asn1crypto 
astor 
astroid

astunparse
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs
autopep8

Babel 

backcall 
backports.functools-lru-cache 

bleach


blinker==1.4
brotlipy==0.7.0
cached-property
cachetools 
certifi==2020.6.20
cffi
chardet 
click==7.1.2
colorama
cryptography 
cycler==0.10.0 
decorator 
defusedxml 
deprecation
distlib==0.3.1
entrypoints 
filelock==3.0.12
Flask==1.1.2
flatbuffers 
gast==0.3.3
google-auth 
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio 
gunicorn==20.0.4
h5py 
idna 
importlib-metadata 
ipykernel 
ipython 
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi 
Jinja2 
joblib
json5 
jsonschema 
jupyter-client 
jupyter-core
jupyter-packaging 
jupyter-server
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
Keras 
Keras-Preprocessing 
kiwisolver
Markdown 
MarkupSafe 
matplotlib 
matplotlib-inline 
mistune 
multidict
nbclassic 
nbclient 
nbconvert 
nbformat
nest-asyncio 
nltk 
notebook 
numpy
oauthlib==3.0.1
olefile 
opt-einsum 
packaging
pandas==1.2.4
pandocfilters==1.4.2
parso 
patsy==0.5.1
pexpect 
pickleshare 
Pillow 
prometheus-client 
prompt-toolkit 
protobuf==3.15.8
ptyprocess 
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser 
Pygments 
PyJWT
pyOpenSSL 
pyparsing==2.4.7
pyrsistent 
PySocks 
python-dateutil==2.8.1
pytz 
PyYAML==5.4.1 
pyzmq 
regex 
requests 
requests-oauthlib 
rsa 
scikit-learn 
scipy 
seaborn
Send2Trash==1.5.0 
six 
sniffle 
statsmodels 
tensorboard 
tensorboard-plugin-wit 
any.whl
tensorflow 
tensorflow-addons-macos 
tensorflow-estimator 
tensorflow-macos 
termcolor==1.1.0
terminado 
testpath==0.4.4 
threadpoolctl 
tomlkit 
tornado 
tqdm 
traitlets 
tweepy 
typeguard 

typing-extensions
urllib3
virtualenv==20.4.6
virtualenv-clone==0.5.4
wcwidth
webencodings==0.5.1
Werkzeug==1.0.1 
wrapt 
yarl 
zipp
